<nav class="navbar navbar-expand fixed-top dapp-nav my">
  <div class="wrapper">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <a class="navbar-brand" href="#">Bendal</a>
    </div>
  </div>
</nav>
<div class="wrapper" style="margin-top: 10px; padding-top: 50px;">
  <router-outlet></router-outlet>
</div> 
