<div class="row container">
    <div class="sidebar mr-1"> 
        <app-sidebar></app-sidebar>
    </div>
    <div class="main-body-content mr-1 ml-1">
        <div style="height: 600px; border: 1px solid rgb(179, 179, 179); background-color: rgba(255,255,255,0.85); padding-top: 10px; border-radius: 10px; position: relative;">
            <router-outlet></router-outlet>
        </div>        
    </div>
    <div class="right-sidebar ml-1">
        <app-rightside></app-rightside>
    </div>
</div>