<div class="cont" style="height: 600px;">
  <div class="loginCard" style="width: 96%;">
    <h2 class="heading">Change Password</h2>
    <form [formGroup]="changepass" (ngSubmit)="validate()">
        <input formControlName="newpass" type="password" placeholder="New Password" class="formInput" required/>
        <input formControlName="confirmpass" type="password" placeholder="Confirm Password" class="formInput"required/>
        <input type="submit" value="Change" class="btn" id="btn-login" style="margin-left: 2%;"/>
    </form>
  </div>
</div>