<div class="nav flex-column sidebar" aria-orientation="vertical" style="height: 600px; border: 1px solid rgb(179, 179, 179); background-color: rgba(255,255,255,0.85); border-radius: 10px;">
<a class="nav link" href="#" >
    <img src="../../../assets/img/pic.png" style="border-radius: 50px; margin: auto; margin-top: 10%; margin-bottom: 10%;" width="75%" height="75%" alt="">
</a>
<h5 style="text-align: center; margin-bottom: 20%;">{{name}}</h5>
<div style="text-align: center;">
    <button id="btn-login" class="btn" (click)="clicked()" style="font-size: small;">Friends</button>
    <button id="btn-login" class="btn" (click)="change_password()" style="font-size: small;">Change Password</button>
    <button id="btn-login" class="btn" (click)="logout()" style="font-size: small;">Log Out</button>
    <button id="btn-login" class="btn" (click)="delete_account()" style="font-size: small;">Delete Account</button>
</div>
</div>
